@import '~antd/dist/antd.css';

/* Swiper */

body {
    background: #fff;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 80%;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 210px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    background-size: cover;
  }

  
  
  /* div .search */

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%; 
    margin: 100px;
    left: 8%;
}

/* Sidebar */

.trigger {
  display: flex;
  font-size: 20px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  border: none;
  background-color: rgb(222, 232, 236);
}

.logo {
  height: 32px;
  margin: 16px;
  background-color: rgb(222, 232, 236);
}

.site-layout .site-layout-background {
  background: #fff;
}

.m5 {
  margin : 5px;
  
}
.sidebar, .ant-menu, .ant-menu-sub.ant-menu-inline, .site-layout-background, .ant-layout-sider-childen {
    background-color: rgb(222, 232, 236);
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgba(154, 179, 190, 0.3)
}
.ant-menu-item-selected, .ant-menu-submenu-selected {
  color: #007fd4
}
.ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid #649cca;
}
.ant-menu-submenu-inline :hover ::selection {
  color: #89b4d1
}

/* Tab */

.tab {
  box-sizing: border-box;
  margin: 0;
  left: 10%;
  width: 80%
}


element.style {
transform: translate(0px, 0px);
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
position: relative;
display: flex;
transition: transform 0.3s;
}
.ant-layout, .ant-layout * {
box-sizing: border-box;
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
position: relative;
}
*, *::before, *::after {
box-sizing: border-box;
}

div {
display: block;
}

li .tabColor :hover {
color: #857796
}