rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // match /{document=**} {
    // 	allow read, write : if true;
    //   allow write: if request.auth.uid != null;
    //   로그인이 된 상태에서만 접근할 수 있다
    //       request.time < timestamp.date(2022, 1, 23);
    //  }
    match /{document=**} {
    	allow read, write: if true;
      allow create: if request.auth != null;
      allow update: if request.auth.uid == resource.data.uid;
      // 모든 로그인유저가 아니라, 현재 유저의 uid == 게시물을 저장한 uid
      // resource.data 내가 읽고 쓸 모든 데이터 
		}
  }
}